/* Estilos personalizados para botones */
.btn-custom-add, .btn-custom-view, .btn-custom-edit, .btn-custom-delete {
    border: 2px solid #ff436f; /* Ajusta el color según sea necesario */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Relleno para los botones */
    font-weight: 600; /* Aumenta el peso de la fuente para un mejor contraste */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para cambios de color */
    margin-right: 10px;
}

.table-custom-bg td:last-child {
    white-space: nowrap; /* Evita que el contenido se rompa en varias líneas */
}
.table-custom-bg th:last-child, .table-custom-bg td:last-child {
    width: 1%; /* Ajusta el ancho de la columna para que se adapte al contenido */
    white-space: nowrap; /* Evita que el contenido se rompa en varias líneas */
}

/* Hover effects para botones */
.btn-custom-add:hover, .btn-custom-view:hover, .btn-custom-edit:hover, .btn-custom-delete:hover {
    background-color: #ff436f; /* Cambia el color de fondo en hover */
    color: white; /* Cambia el color del texto en hover */
    border-color: #ff436f; /* Asegúrate de que el borde coincida */
}

/* Ajustes para campos de entrada y formulario */
input[type="email"], input[type="password"] {
    border: 2px solid #ff436f; /* Ajusta el color del borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Relleno para los campos de entrada */
    width: 100%; /* Asegúrate de que el campo ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total del elemento */
}

input[type="email"]:focus, input[type="password"]:focus {
    outline: none; /* Quita el borde de enfoque predeterminado */
    border-color: #ff436f; /* Mantén el color del borde en el enfoque */
    box-shadow: 0 0 5px rgba(255, 67, 111, 0.5); /* Añade una sombra suave */
}

/* Ajustes para el contenedor del formulario */
.container {
    max-width: 1500px; /* Ancho máximo del formulario */
    margin: auto; /* Centra el formulario horizontalmente */
    background-color: #fff; /* Fondo blanco */
    padding: 20px; /* Relleno interior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para el contenedor */
}

/* Ajustes para el encabezado del formulario */
h2 {
    font-weight: 600; /* Aumenta el peso de la fuente */
    color: #ff436f; /* Color del texto */
    text-align: center; /* Centra el texto */
}

.sort-button {
    margin-bottom: -35px; /* Ajusta este valor según sea necesario */
}
.filter-by-type {
    margin-bottom: -35px; /* Ajusta este valor según sea necesario */
} 
